/* body {
    background: linear-gradient(180deg, #FFBB00 21.88%, #000000 93.75%);
} */

.card {
    background-color: #FFBB00;
    margin-top: 25px
}

.row {
    margin: 30px;
}

/* .col img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
} */

.overlay {
    width: 100%;
    /* height: 40vh; */
    position: absolute;
    margin: auto;
    /* background-image: url("plus-circle-fill.svg");
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
     top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.remOverlay {
    display: none;
    width: 100%;
    /* height: 40vh; */
    position: absolute;
    margin: auto;
    top: 10px;
}

.card:hover + .remOverlay {
    display: block;
}


.col{
    position: relative;
    top: 0;
    left: 0;
}



.list-group-item {
    background-color: #e6a800;
    border-color: #e6a800;
}

.navbar-brand {
    font-size: 25px;
    margin: auto;

}

.btn {
    float: right;
    width: 150px;
    margin-right: 45px;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.col {
	animation: append-animate .3s linear;
}

