/* DCP+ Questionnaire Style Sheet */

body {
    background: linear-gradient(180deg, #FFBB00 18.75%, black 84.9%);
    background-attachment: fixed;
}

h1 {
    text-align: center;
    top: 80px;
    left: 517px; 
    background-color: rgba(51, 51, 51, 0.2);
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    font-size: 72px;
    line-height: 94px;
    align-items: center;
}



form {
    background: #FFEAC1;
    font-family: 'EB Garamond';
    font-style: italic;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 40px;
}

label {
    font-weight: 200;
    font-size: 28px;
    margin-bottom: 0.5%;
}

.Logo{
    display: block;
    margin-left: auto;
     margin-right: auto;
    height: 10%;
    width: 10%;
    margin-bottom: 2%;

}

