.h1 {
    text-align: center;
    
    background-color: rgba(51, 51, 51, 0.2);
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    font-size: 72px;
    line-height: 94px;
    align-items: center;

    position: absolute;
    width: 405px;
    height: 130px;
    left: 518px;
    top: 76px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    position: absolute;
    width: 820.03px;
    height: 575px;
    left: 312.97px;
    top: 306px;
    
    background: #FFFFFF;
}
h3 {
    position: absolute;
    width: 300px;
    height: 283px;
    left: 307px;
    top: 452px;
}
h5 {
    font-family: 'EB Garamond'; 
    font-style: italic;
    text-align: center;
    font-size:xx-large;
}

body {
    background: linear-gradient(180deg, #FFBB00 18.75%, black 84.9%);
    background-attachment: fixed;
}
form {
    font-family: 'EB Garamond'; 
    font-style: italic;
    text-align: center;
    /* position:relative;
    width: 298.2px;
    height: 200px;
    left: 730.44px;
    top: 356px; */
    
}
.Logo{
    display: block;
    margin-left: auto;
     margin-right: auto;
    height: 10%;
    width: 10%;
    margin-bottom: 2%;

}

.sun{
    display: block;
   
    height: 100%;
    width: 100%;
    margin-bottom: 2%;

}

